*{
  box-sizing: border-box;
  margin: 0px;
}
body {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  padding: 0px;
}
.main-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-shadow:  0 0 25px rgb(207, 206, 206);
  width: 45vw;
  min-width: 320px;
}
.main-heading{
  color: brown;
  opacity: 0.3;
  font-size: 8rem;
  text-align: center;
  margin: 0px;
}
.add-todo-field{
  height: 80px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  color: lightgrey;
  padding-left: 75px;
  font-style: italic;
}
.dropdown{
  position: absolute;
  visibility: hidden;
  background: url('dropdown.png') center no-repeat;
  background-size: contain;
  opacity: 0.5;
  top:18px;
  left:25px;
  width:40px;
  height: 40px; 
}
.dropdown:hover{
  opacity: 1;
}
.add-todo-field:focus{
  outline: none;
  color: black;
  font-style: normal;
}
.todo-checkbox{
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
}
.todo-text::before{
  content: url('checkbox.png');
  position: relative;
  top:10px;
  left:10px
}
.todo-text.checkedelem::before{
  content: url('checkbox-checked.png');
  position: relative;
  top: 10px;
  left: 10px;
}
.todo-text.checkedelem{
  text-decoration: line-through;
  color: rgb(211, 211, 211);
}
.todo-wrap, .form-footer{
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: white;
  color:darkgray;
}
.todo-wrap{
  display: flex;
  align-items: center;
}
.form-footer{
  height: 50px;
  padding: 5px;
}
.todo-text{
  display: flex;
  align-content: stretch;
  justify-content: stretch;
  flex-grow: 1;
  color: black;  
  padding: 0px;
  height: 60px;
  overflow: hidden; 
}
.todo-style{
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-grow: 1;
  overflow: hidden; 
  padding-left: 25px;
}
.form-footer{
  display: flex;
  justify-content: space-evenly;
}
.todos-count, .todos-completed{
  display: flex;
  align-items: center;
  padding: 5px;
  flex-grow: 1;
  color: rgb(109, 103, 103);
}
.todos-filters{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 0;
  min-width: 100px;
}
.todos-filters button, .todos-completed button{
  color: rgb(109, 103, 103);
  border: none;
  background-color: white;
  padding: 5px;
}
.todos-completed {
  justify-content: flex-end;
  visibility: hidden;
}
.todos-filters button:focus, .todos-completed button:focus{
  outline: none;
}
.decoration-line,.decoration-line2{
  height: 6px;
  background-color: rgb(247, 245, 245);
  border: 1px solid rgb(211, 211, 211);
}
.decoration-line{
  width:44.5vw;
  min-width: 318px;
}
.decoration-line2{
  width:44vw;
  min-width: 315px;
}
.delete-todo{
  position: absolute;
  visibility: hidden;
  background: url(./delete.png) center center no-repeat;
  background-size: contain;
  right: 10px;
  width:20px;
  height:20px;
  z-index: 0;
}
.todo-wrap:hover .delete-todo{
  visibility: visible;
  opacity: 0.8;
}
.todo:focus{
  outline: none;
  border: 1px solid black;
}
.todo{
  font: inherit;
  color: inherit;
  border: none;
  height: 60px;
  padding-left: 5px;
  position: absolute;
  left: 61px;
  visibility: hidden;
  width:35vw;
}
.main-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: lightgrey;
  margin-top: 50px;
}
.author{
  color:pink;
}
.todos-filters button.active{
  border: 1px solid rgb(233, 189, 189);
  border-radius: 2px;
}

@media (max-width: 576px) {
  .add-todo-field{
    font-size: 1.2rem;
  }
  .main-heading{
    font-size: 5rem;
  }
  .todo-wrap, .form-footer, .todos-filters button, .todos-completed button, .todos-count, .todos-completed{
    font-size: 0.7rem;
  }
  .todo-text, .todo-style, .todo{
    font-size: 1.2rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .add-todo-field{
    font-size: 1.2rem;
  }
  .main-heading{
    font-size: 7rem;
  }
  .todo-wrap, .form-footer, .todos-filters button, .todos-completed button, .todos-count, .todos-completed{
    font-size: 0.7rem;
  }
  .todo-text, .todo-style, .todo{
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .add-todo-field{
    font-size: 1.3rem;
  }
  .main-heading{
    font-size: 7rem;
  }
  .todo-wrap, .form-footer, .todos-filters button, .todos-completed button, .todos-count, .todos-completed{
    font-size: 0.8rem;
  }
  .todo-text, .todo-style, .todo{
    font-size: 1.3rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .add-todo-field{
    font-size: 1.4rem;
  }
  .main-heading{
    font-size: 8rem;
  }
  .todo-wrap, .form-footer, .todos-filters button, .todos-completed button, .todos-count, .todos-completed{
    font-size: 0.9rem;
  }
  .todo-text, .todo-style, .todo{
    font-size: 1.4rem;
  }
}

@media (min-width: 1201px) {
  .add-todo-field{
    font-size: 1.5rem;
  }
  .main-heading{
    font-size: 8rem;
  }
  .todo-wrap, .form-footer, .todos-filters button, .todos-completed button, .todos-count, .todos-completed{
    font-size: 1rem;
  }
  .todo-text, .todo-style, .todo{
    font-size: 1.5rem;
  }
}
